<script type="text/template" name="chats" id="chats-template">

    <div id='available-users'></div>

</script>



<script id="online-users-template" type='text/template'>
<div class="bg-secondary" id = "available-users-buttons">
    <%% for (let i = 0; i < users.length; i++){ %>
    <div>
    <%% const url = "#users/" + users[i].nickname; %>
        <%% if(current_user != users[i].nickname){ %>
            <a  class="btn btn-danger btn-sm" id="online-user-button" href=<%%= url %>>
                <%%= users[i].nickname%>
            </a>
        <%% };%>
    </div>
    <%% }; %>
<div>
</script>