<div id="chatbar">
    <table class='table'>
        <thead>
            <tr>
                <th>Users</th>
                <th>Chat</th>
            </tr>
        <thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <td><%= user.nickname %></td>
                <td>Test</td>
            </tr>
          <% end %>
            <tr>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
            </tr>
        </tbody>
    <table>
</div>
