<div class="jumbtron">
    <h1 style="text-align:center">Chat</h1>
    <div class="well" id="chatbox" style="height:250px; border: solid 1px #222222; overflow-y : scroll">
        <% @messages.each do |message| %>

            <%= render 'messages/message', message: message %>
        <% end %>
    </div>

    <%= form_with model: @message, remote: true do |f| %>
        <div class="input-group mb-3">
            <%= f.text_field :content, placeholder:"Say something i'm giving up on you...", class: 'form-control' %>
            <div class="input-group-append">
                <%= f.submit "Send", class:"btn btn-primary" %>
            </div>
        </div>
    <% end %>
    <script> 
        $('.btn btn-primary').click(function(){
            $('.form-control').reset();
        });
    </script>
</div>