<script type="text/template" name="chat">
    <div class="jumbtron">
      <h1 style="text-align:center">Chat</h1>
      <div class="well" id="chatbox" style="height:250px; border: solid 1px #222222; overflow-y : scroll">
          <% @messages.each do |message| %>
              <%= render 'messages/message', message: message %>
          <% end %>
      </div>

      <%= form_with model: @message, remote: true, :html => { :id => 'message_form' } do |f| %>
          <div class="input-group mb-3" id="message-input">
            <%= f.text_field :content, placeholder:"Type your message here...", class: 'form-control' %>
              <div>
                <%= f.submit "Send", class:"btn btn-primary" %>
              </div>
          </div>
      <% end %>
      <script> 
          $('.btn btn-primary').click(function(){
              $('.form-control').value = '';
          });
      </script>
    </div>
</script>
