<script type="text/template" name="game">

	<div class="row">
		<div class="col-sm-10">
			<input type="button" id="active-game" value="Start">

			<div id="cnv">
				<canvas id="canvas" width="600" height="400"><canvas>
			</div>
		</div>
		<div class="col-sm-2 online-user-list">
			<h2 class="title">Users</h2>
				<ul class="btn-group-vertical user-list-group">
				<% @users.each do |user| %>
					<button class="btn btn-dark user-button ">
					
						<a class="text-white" href="/#users/<%=user.id%>"> <%= user.nickname %> </a>
						<span class="user-avatar"><%= image_tag user.avatar.thumb.url, class: 'img-avatar' %></span>
					</button>
				<% end %>
				</li>
		</div>
	</div>
</script>

