<script type="text/template" id="home_template">
	<div class="row mt-5">
		<div class="col">
			<div class="card mx-auto">
				<div class="card-body text-center">
					<p class="h5 card-title text-info">Matches in progress</p>
					<hr/>
					<div class="mx-auto text-center">
						<div id="active-matches-data" class="home_match_list">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card mx-auto">
				<div class="card-body text-center">
					<p class="h5 card-title text-info">Wars</p>
					<hr/>
					<div class="mx-auto text-center">
						<div id="active-wars-wrapper">
						</div>
					</div>
				</div>
			</div>
            <div class="card mx-auto mt-5">
				<div class="card-body text-center">
					<p class="h5 card-title text-info">Users</p>
					<hr/>
					<div class="mx-auto text-center">
						<div id="online-users-wrapper">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="active_matches_template">
	<ul class="list-group list-group-flush">
        <%% if (_.size( matches) > 0) { %>
            <%% _.each( matches, function(match) { %>
                <li class="list-group-item list-group-item-secondary"><%%= match.match_type %></li>
                <li class="list-group-item d-flex justify-content-between">
                    <div class="col bg-light">
                        <div class="row">
                            <div class="col">
                                <img class="img-avatar rounded-circle img-fluid" src="<%%= match.left_player_avatar.thumb.url %>"/>
                                <p><%%= match.left_player %></p>
                            </div>
                            <div class="col">
                                <p class="h3"><%%= match.left_player_score %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <a href="/#match/<%%= match.match_id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </div>
                    <div class="col bg-light">
                        <div class="row">
                            <div class="col">
                                <p class="h3"><%%= match.right_player_score %></p>
                            </div>
                            <div class="col">
                                <img class="img-avatar rounded-circle img-fluid" src="<%%= match.right_player_avatar.thumb.url %>"/>
                                <p><%%= match.right_player %></p>
                            </div>
                        </div>
                    </div>
                </li>
            <%% }) %>
        <%% } else { %>
            <li class="list-group-item text-center">
                <p class="h6 text-secondary">No current matches.</p>
            </li>
        <%% } %>
    </ul>
</script>

<script type="text/template" id="active_wars_template">
 
    <%%  let i = 0 %>
    <%%  for (let w of wars) { %>
        <%% if (w.status === "active"){ %>
            <%%  i++; %>
            <div class="text-lg-center p-2 bg-danger fire-animation m-2"><%%= w.from %> vs <%%= w.to %></div>
        <%% } %>
    <%%  } %>
    <%%  for (let w of wars) { %>
        <%% if (w.status === "finished"){ %>
            <%% i++; %>
            <div class="text-lg-center p-2 bg-secondary fire-animation m-2"><%%= w.from %> vs <%%= w.to %>
                <span>
                    <div class="badge badge-dark badge-sm ml-3">Finished</div>
                </span>
            </div>
        <%% } %>
    <%%  } %>
    <%% if (i === 0) {%>
        <li class="list-group-item text-center">
            <p class="h6 text-secondary">No wars.</p>
        </li>
    <%% } %>
</script>

<script type="text/template" id="online_users_template">
 
    <%%  for (let user of users) { %>
        <%% if (user.status === 0) { continue;} %>
        <%%=`<a class="btn btn-success btn-sm mb-1" href="#users/${user.id}">` %>
        <%%= user.nickname%> </a>
    <%% } %>
    <%%  for (let user of users) { %>
        <%% if (user.status != 0) { continue;} %>
        <%%=`<a class="btn btn-secondary btn-sm mb-1" href="#users/${user.id}">` %>
        <%%= user.nickname%> </a>
    <%% } %>
</script>
