
<!--<script type="text/template" name="userLogin"> -->
    <div class="login">
        <%= link_to "Sign in with 42", user_marvin_omniauth_authorize_path, method: :post, class: "sign-button" %>
    </div>
<!-- </script> -->
