<script type="text/template" id="search_match_template">
    <div class="modal" id="search_match_modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                </div>
                <div class="modal-body text-center">
                    <%% if (type === 'challenge'){ %>
                    <p class="h5">Waiting for your opponent to accept the challenge...</p>
                    <%% } else { %>
                    <p class="h5">Searching for a <%%= type %> match...</p>
                    <%% }; %>
                    <i class="fa fa-spin fa-cog fa-2"></i>
                    <a type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" href="/#">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="match_found_template">
    <div class="modal fade" id="match_found_modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-center text-light"> <%%= type + " game" %>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="<%%= player1.avatar.thumb.url %>"/>
                            <p><%%= player1.nickname %></p>
							<%% if (type === 'Ranked') { %>
                            	<p>Score <%%= player1.score %></p>
							<%% }; %>
                        </div>
                        <div class="col">
                            <p class="h1">vs</p>
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="<%%= player2.avatar.thumb.url %>"/>
                            <p><%%= player2.nickname %></p>
							<%% if (type === 'Ranked') { %>
                            	<p>Score <%%= player2.score %></p>
							<%% }; %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="match_template">

    <div class="row">
        <button class="btn btn-danger" id="f-match">Finish Match Manually</button>
        <div class="col-sm-12 my-auto">
            <div id="cnv">
                <div class="row">
                    <div class="col">
                        <p class="h3 text-white"> LEFT PLAYER </p>
                        <p class="h4 text-white">Score</p>
                        <p class="h4 text-white"><%%= match.left_player_score %></p>
                        <img class="img-avatar rounded-circle img-fluid" src="<%%= match.left_player_avatar.thumb.url %>"/>
                        <p class="text-white"><%%= match.left_player %></p>
                    </div>
                    <div class="col-7">
                        <canvas id="canvas" width="600" height="300"></canvas>
                    </div>
                    <div class="col">
                        <p class="h3 text-white"> RIGHT PLAYER </p>
                        <p class="h4 text-white">Score</p>
                        <p class="h4 text-white"><%%= match.right_player_score %></p>
                        <img class="img-avatar rounded-circle img-fluid" src="<%%= match.right_player_avatar.thumb.url %>"/>
                        <p class="text-white"><%%= match.right_player %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="finish_match_template">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                </div>
                <div class="modal-body text-center">
					<%% if (match.winner_id === id) { %>
                    	<p class="h1 text-success">Victory!</p>
					<%% } else { %>
                    	<p class="h1 text-danger">Defeat . . .</p>
					<%% }; %>
					<%% if (match.match_type === 'ranked game') { %>
						<%% if (match.winner_id === id) { %>
                    		<p id='value' class="h5">You win <%%= match.winner_points %> points.</p>
						<%% } else { %>
							<p id='value' class="h5">You lose <%%= match.loser_points %> points.</p>
						<%% }; %>
					<%% }; %>
                    <a type="button" class="btn btn-secondary btn-sm  btn-dark" data-dismiss="modal" href="/#">Continue</a>
                </div>
            </div>
        </div>
</script>
