<script type="text/template" id="search_match_template">
    <div class="modal" id="search_match_modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                </div>
                <div class="modal-body text-center">
                    <%% if (type === 'challenge'){ %>
                    <p class="h5">Waiting for your opponent to accept the challenge...</p>
                    <%% } else { %>
                    <p class="h5">Searching for a <%%= type %> match...</p>
                    <%% }; %>
                    <i class="fa fa-spin fa-cog fa-2"></i>
                    <div type="button" id="cancel-button" class="btn btn-secondary btn-sm" >Cancel</div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="match_found_template">
    <div class="modal fade" id="match_found_modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark text-center text-light"> <%%= type + " game" %>
                </div>
                <div class="modal-body text-center">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="<%%= player1.avatar.thumb.url %>"/>
                            <p><%%= player1.nickname %></p>
							<%% if (type === 'Ranked') { %>
                            	<p>Score <%%= player1.score %></p>
							<%% }; %>
                        </div>
                        <div class="col">
                            <p class="h1">vs</p>
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="<%%= player2.avatar.thumb.url %>"/>
                            <p><%%= player2.nickname %></p>
							<%% if (type === 'Ranked') { %>
                            	<p>Score <%%= player2.score %></p>
							<%% }; %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="match_template">
    <%% if (user === match.left_player.id) { %>
        <p class="text-white text-right">Left Player</p>
    <%% } %>
    <%% if (user === match.right_player.id) { %>
        <p class="text-white text-right">Right Player</p>
    <%% } %>
    <%% if (user !== match.left_player.id && user !== match.right_player.id) { %>
        <p class="text-white text-right">Spectator</p>
    <%% } %>
    <div class="row mt-3">
        <div id="cnv">
            <div class="row">
                <div class="col bg-primary m-3 p-4 rounded" id="left_player_side">
                    <!-- left_player_template -->
                </div>
                <div class="col-7 m-2 p-4">
                    <canvas id="canvas" width="600" height="300"></canvas>
                </div>
                <div class="col bg-danger m-3 p-4 rounded" id="right_player_side">
                    <!-- right_player_template -->
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="right_player_template">
    <p class="h3 text-white"> RIGHT PLAYER </p>
    <p class="h4 text-white">Score</p>
    <p id="rp_score" class="h4 text-white"><%%= player.score %></p>
    <img class="img-avatar rounded-circle img-fluid" src="<%%= player.avatar.thumb.url %>"/>
    <a href="/#users/<%%= player.id %>"><p class="text-white"><%%= player.nickname %></p></a>
    <%% if (user === player.id && !player.ready) { %>
        <button class="btn btn-block btn-success mt-2 fire-animation check-ready" id="btn-right-player-ready" data-player-id="<%%= player.id %>">
            READY!
        </button>
    <%% } else { %>
            <p class="h4 text-dark" id="status-right-player-ready">
            <%% if (match.status == "finished") { %>
                <%% if ( player.id == match.winner ) { %>
                    Winner
                <%% } else { %>
                    Loser
                <%% } %>
            <%% } else {%>
                <%% if ( !player.ready ) { %>
                    Player not Ready
                <%% } else { %>
                    Player Ready
                <%% } %>
            <%% } %>
            </p>
    <%% } %>
</script>

<script type="text/template" id="left_player_template">
    <p class="h3 text-white"> LEFT PLAYER </p>
    <p class="h4 text-white">Score</p>
    <p id="lp_score" class="h4 text-white"><%%= player.score %></p>
    <img class="img-avatar rounded-circle img-fluid" src="<%%= player.avatar.thumb.url %>"/>
    <a href="/#users/<%%= player.id %>"><p class="text-white"><%%= player.nickname %></p></a>
    <%% if (user === player.id && !player.ready) { %>
        <button class="btn btn-block btn-success mt-2 fire-animation check-ready" id="btn-left-player-ready" data-player-id="<%%= player.id %>">
            READY!
        </button>
    <%% } else { %>
            <p class="h4 text-dark" id="status-right-player-ready">
            <%% if (match.status == "finished") { %>
                <%% if ( player.id == match.winner ) { %>
                    Winner
                <%% } else { %>
                    Loser
                <%% } %>
            <%% } else {%>
                <%% if ( !player.ready ) { %>
                    Player not Ready
                <%% } else { %>
                    Player Ready
                <%% } %>
            <%% } %>
            </p>
    <%% } %>
</script>


<script type="text/template" id="finish_match_template">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                </div>
                <div class="modal-body text-center">
					<%% if (match.winner === user.id) { %>
                    	<p class="h1 text-success">Victory!</p>
					<%% } else { %>
                    	<p class="h1 text-danger">Defeat . . .</p>
					<%% }; %>
					<%% if (match.match_type === 'ranked game') { %>
						<%% if (match.winner === user.id) { %>
                    		<p class="h5">You win <%%= match.winner_points %> points.</p>
						<%% } else { %>
							<p class="h5">You lose <%%= match.loser_points %> points.</p>
						<%% }; %>
					<%% }; %>
                    <%% if (match.match_type === 'tournament game') { %>
                        <p class="h5">Tournament score:</p>
                    	<p class="h5">Victories: <%%= user.tournament_victories %>.</p>
						<p class="h5">Defeats: <%%= user.tournament_defeats %>.</p>
					<%% }; %>
                    <%% if (match.war === true) { %>
						<%% if (match.winner === user.id) { %>
                    		<p class="h5"> Your guild wins 1 war point.</p>
						<%% } else { %>
							<p class="h5">This defeat counts for your guild war</p>
						<%% }; %>
					<%% }; %>
                    <a type="button" class="btn btn-secondary btn-sm  btn-dark" data-dismiss="modal" href="/#play">Continue</a>
                </div>
            </div>
        </div>
</script>
