
<nav>
    <%= image_tag current_user.avatar.thumb.url, class: 'img-avatar' %>
    <p><%= current_user.nickname.capitalize() %></p>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/">Guilds</a></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, data: {confirm: 'Are you sure?'} %></li>
    </ul>

</nav>