<script type="text/template" name="notification_template">
    <li class="dropdown">
        <a href="#" class="btn btn-primary notification-bell" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="badge" id="notification-count"><%%= _.size( notifications ) %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right notify-drop">
            <div class="notify-drop-title">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">Notifications</div>
                </div>
            </div>
            <div class="drop-content" id="notification-list">
            <%% if (_.size( notifications ) > 0) { %>

                <%% _.each( notifications, function(notification) { %>
                    <%% if (notification.category == "Friend Request" && notification.requestor) { %>
                        <li class="dropdown-item">
                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0 d-flex">
                                <div class="col text-center">
                                    <p class="h6 text-secondary">Friend request from <a href="/#users/<%%= notification.requestor.id %>"><%%= notification.requestor.nickname %></a>.</p>
                                    <div class="ml-3">
                                        <button class="btn btn-primary btn-sm friend-request" data-request-id="<%%= notification.id %>" data-action="accepted" data-userfriend-id="<%%= notification.requestor.id %>">Accept</button>
                                        <button class="btn btn-danger btn-sm friend-request" data-request-id="<%%= notification.id %>" data-action="denied" data-userfriend-id="<%%= notification.requestor.id %>">Decline</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <%% } %>
                    <%% if (notification.category == "Guild Request" && notification.requestor) { %>
                        <li class="dropdown-item">
                            <div class="col-md-9 col-sm-9 col-xs-9 pd-l0 d-flex">
                                <div class="col text-center">
                                    <p class="h6 text-secondary">Invitation to join the guild <a href="/#guilds/<%%= notification.requestor.id %>"><%%= notification.requestor.title %></a>.</p>
                                    <div class="ml-3">
                                        <button class="btn btn-primary btn-sm guild-request" data-request-id="<%%= notification.id %>" data-action="accepted" data-guild-id="<%%= notification.requestor.id %>">Accept</button>
                                        <button class="btn btn-danger btn-sm guild-request" data-request-id="<%%= notification.id %>" data-action="denied" data-guild-id="<%%= notification.requestor.id %>">Decline</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <%% } %>
                <%% }) %>

            <%% } else { %>

                <li class="dropdown-item text-center">
                    <p class="h6 text-secondary">No new notifications.</p>
                </li>

            <%% } %>
            </div>
            <div class="notify-drop-footer">
            </div>
        </ul>
    </li>

</script>


<script type="text/template" id="challenge_notif_template">
    <div class="dropdown-item challenge-dropdown" id="<%%= id %>">You have been challeged by <%%= from %>
        <div class="d-flex flex-row justify-content-center">
            <a class="accept-challenge btn btn-success fit mr-2" href="/#challenge/<%%= id+"/accept/"+currentuser %>" data-id="<%%= id %>" data-nickname="<%%= from %>">Accept</a>
            <!-- <a class="btn btn-danger fit decline-challenge" data-id="<%%= id %>" data-nickname="<%%= from %>">Decline</a>
            -->
        </div>
    </div>

    </div>
</script>
