<script type="text/template" name="notification_template">
    <li class="dropdown-item">
        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0 d-flex">
            <div class="col">
                <div class="notify-img">
                    <img src="http://placehold.it/45x45" alt="">
                </div>
            </div>
            <div class="col">
                <p><a href="#">Marvin</a> wants to be your friend.</p>
                <button type="button" class="btn btn-primary btn-sm">Accept</button>
                <button type="button" class="btn btn-danger btn-sm">Decline</button>
            </div>
        </div>
    </li>
</script>
