<script type="text/template" name="playroom" id="playroom-template">
    <span>
    <div>
        <div class="title">JUEGO <span id="spanfocus">   </span>
        </title>

    <input type="text" id="lname" name="lname">
  
    </form>
    </div> 
    </span>
</script>