<script type="text/template" name="playview" id="playview-template">
    <h1 class="title">Game modes</h1>
    <div class="gamemodes">
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/quick">Quick play</a>
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/ranked">Ranked play</a>
        <a class="btn btn-lg btn-block btn-dark" id="show-tournament-button" >Tournament</a>
    </div>
    <div id="tournament-view">
        <div id="join-tournament-wrapper">
        </div>
        <div id="tournament-graph">
        </div>
    </div>
</script>

<script type="text/template" name="notournamentview" id="no-tournament-template">
    <p>There are no tournaments. Ask an admin to create one.</p>
</script>

<script type="text/template" name="jointourbutton" id="join-tour-template">
    <div>
        <a class="btn btn-block btn-light mt-5" id="join-tournament-button" data-id="<%%= tournament.id %>">Join <%%= tournament.name %> tournament</a>
        <div class="waiting-for-users-tour">
            <div>Waiting for users to join...</div>
            <div class="fa fa-spin fa-cog fa-2"></div>
            
        </div>
    </div>
</script>



<script type="text/template" name="tournamentview" id="tournament-graph-template">
    <h4 class="title">TOURNAMENT</h4>
    <div id="graph" class="d-flex">
        <%%  for (let round of tournament.rounds.reverse()){ %>
                <div class="flex-fill list-group round-column">
                    <%% for (let i = 0; i < Math.pow(2, round.number); i++) {%>
                        <div class="tournament-match">
                            <%% let j1 = ((tournament.users[2 * i]) != undefined && round.number === tournament.rounds.length - 1) ? tournament.users[2 * i].nickname : "" %>
                            <%% let j2 = ((tournament.users[2 * i + 1]) != undefined && round.number === tournament.rounds.length - 1) ? tournament.users[2 * i + 1].nickname : "" %>
                            <div class="list-group-item match-j1"><%%= j1 %><%%= i + "," + round.number %></div>
                            <div class="list-group-item match-j2"><%%= j2 %></div>
                        </div>
                        <%% if (round.number === 1 && i === 0){%>
                                <div class="list-group-item space-between-matches"></div>
                        <%% }%>
                    <%% } %>
                </div>

        <%% } %>
    </div>
</script>

