<script type="text/template" name="playroom" id="playroom-template">

    <div id="gamecanvas-wrapper">
        <canvas id="gamecanvas"></canvas>

    </div>
    <script>
    
</script>
</script>

<script type="text/template" name="playroom" id="playroom-template">
    
</script>
