<script type="text/template" name="playview" id="playview-template">
    <h1 class="title">Game modes</h1>
    <div class="gamemodes">
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/quick">Quick play</a>
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/ranked">Ranked play</a>
        <a class="btn btn-lg btn-block btn-dark" >Tournament</a>
    </div>>
</script>
