<script type="text/template" name="playview" id="playview-template">
    <h1 class="title">Game modes</h1>
    <div class="gamemodes">
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/quick">Quick play</a>
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/ranked">Ranked play</a>
        <a id="tournament-play-button" class="btn btn-lg btn-block btn-dark" href="#search_match/tournament">Tournament</a>
        <%%  if (inwar === true){ %>
            <a id="war-play-button" class="btn btn-lg btn-block btn-dark" href="#search_match/war">War Time</a> 
        <%%  }; %>
    </div>
    <div class="mt-4" id="tournament-view">
        <div id="join-tournament-wrapper">
        </div>
        <div id="tournament-graph">
        </div>
    </div>
    <div id="ruleset-wrapper">
    </div>
</script>

<script type="text/template" name="notournamentview" id="no-tournament-template">
    <p class="tournament-empty-banner">There are no tournaments. Ask an admin to create one.</p>
</script>

<script type="text/template" name="jointourbutton" id="join-tour-template">

        <a class="btn btn-block btn-light mt-5" id="join-tournament-button" data-id="<%%= tournament.id %>">Join <%%= tournament.name %> tournament</a>
        <div class="waiting-for-users-tour">
            <div>Waiting for users to join...</div>
            <div class="fa fa-spin fa-cog fa-2"></div>
            
        </div>
    </div>
</script>

<script type="text/template" id="ruleset-template">
    <div class="bg-info rounded flex-row p-4 text-center w-10">
        <h2>How to play</h2>
        <div id="howtoplay">
            <div class="text-black mb-2">Press [up] and [down] arrows to move your pad and avoid the ball to cross your side.</div>
            <div class="bg-light rounded text-black-50 mb-1">Quick play: play randomly against another user without losing or winning points</div>
            <div class="bg-light rounded text-black-50 mb-1">Ranked play: play and win points for the global ladder tournament</div>
            <div class="bg-light rounded text-black-50 mb-1">War mode: join a guild and await for the frenzy fights!</div>
            <div class="bg-light rounded text-black-50 mb-4">Tournament: play during special events and be remembered forever!</div>


            <div class="field">
                <div class="el-net"></div>
                <div class="el-ping"></div>
                <div class="el-pong"></div>
                <div class="el-ball"></div>
            </div>
        </div>
    </div>
</script>