<script type="text/template" name="playview" id="playview-template">
    <h1 class="title">Game modes</h1>
    <div class="gamemodes">
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/quick">Quick play</a>
        <a class="btn btn-lg btn-block btn-dark" href="#search_match/ranked">Ranked play</a>
        <a id="tournament-play-button" class="btn btn-lg btn-block btn-dark" href="#search_match/tournament">Tournament</a>
        <%%  if (inwar === true){ %>
            <a id="war-play-button" class="btn btn-lg btn-block btn-dark" href="#search_match/war">War Time</a> 
        <%%  }; %>
    </div>
    <div class="mt-4" id="tournament-view">
        <div id="join-tournament-wrapper">
        </div>
        <div id="tournament-graph">
        </div>
    </div>
</script>

<script type="text/template" name="notournamentview" id="no-tournament-template">
    <p class="tournament-empty-banner">There are no tournaments. Ask an admin to create one.</p>
</script>

<script type="text/template" name="jointourbutton" id="join-tour-template">

        <a class="btn btn-block btn-light mt-5" id="join-tournament-button" data-id="<%%= tournament.id %>">Join <%%= tournament.name %> tournament</a>
        <div class="waiting-for-users-tour">
            <div>Waiting for users to join...</div>
            <div class="fa fa-spin fa-cog fa-2"></div>
            
        </div>
    </div>
</script>

