<script type="text/template" name="popup" id="popup-template">
    <a href="#challenge/<%%= user.id %>" data-challenge=<%%= user.id%> class=" btn-block btn btn-primary challengebutton">Challenge <%%= user.nickname%></a>
    <a href="#users/<%%= user.id %>" class="btn btn-block btn-dark">Go to <%%= user.nickname%>'s profile</a>
    
</script>