<script type="text/template" name="userProfile">
    <h2>User Profile</h2>

    <div>
        <h3>Nickname</h3>
        <h4 id="user-nickname"></h4>
        <%= image_tag current_user.avatar.medium.url, class: 'img-avatar' %>
        <%= form_tag update_user_avatar_url(current_user), :method => :post, multipart: true, remote: true do %>
            <%= file_field :user, :avatar , accept: 'image/png,image/jpeg,image/jpg' %> <br />
            <%= submit_tag "Save Avatar", class: 'btn btn-success' %>
        <% end %>
    </div>
</script>