<script type="text/template" id="user_profile_template">
    <div class="row mt-4 flex">
        <div class="col-9" id="user_info">
        <!-- user_info_template -->
        </div>
        <div class="col-3">
            <%% if ($('html').data().userId !== user.id) { %>
                <div class="row mb-3">
                    <div class="col mb-2">
                        <button class="btn btn-sm btn-success" id="addFriend" data-userfriend-id="<%%= user.id %>"> Add Friend </button>
                    </div>
                    <div class="col mb-2">
                        <button class="btn btn-sm btn-danger" id="blockUser" data-userblock-id="<%%= user.id %>"> Block </button>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <a class="btn btn-sm btn-dark" id="challengeUser" href="#challenge/<%%= user.id %>"> Challenge </a>
                    </div>
                    <%% if (me && !user.guild_id) { %>
                        <div class="col">
                            <button class="btn btn-sm btn-primary" id="addToGuild" data-userguild-id="<%%= user.id %>"> Invite to Guild </button>
                        </div>
                    <%% } %>
                </div>
            <%% } %>
            <div class="card text-center mx-auto mb-3">
                <div class="card-body">
                    <p class="h5 card-title text-info">Stats</p>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Score</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-muted"> <%%= user.score %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-muted"> <%%= user.matches_won + user.matches_lost %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches won</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-success"> <%%= user.matches_won %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches lost</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-danger"> <%%= user.matches_lost %> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center mx-auto mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="h5 card-title text-info">Friends</p>
                    <hr/>
                    <div class="mx-auto text-center">
                        <div id="user-friends-data" class="scroll_list">
                        </div>
                    </div>
                </div>
            </div>
            <%% if ($('html').data().userId === user.id) { %>
                <div class="card text-center mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <p class="h5 card-title text-info">Blocked users</p>
                        <hr/>
                        <div class="mx-auto text-center">
                            <div id="blocked-users-data" class="scroll_list">
                            </div>
                        </div>
                    </div>
                </div>
            <%% } %>
        </div>
    </div>
</script>

<script type="text/template" id="two-fa-profile-template">

    <p class="h4 text-primary">Use Google Authenticator</p>
    <%% if (two_fa.otp_required) { %>
        <div class="bg-white mb-2">
            <div class="p-1">
                <%%= two_fa.qrcode %>
            </div>
        </div>
        <button type="button" class="btn btn-danger" id="disable-2fa">Disable 2FA</button>
    <%% } else { %>
        <button type="button" class="btn btn-primary" id="enable-2fa">Enable 2FA</button>
    <%% } %>

</script>

<script type="text/template" id="user_info_template">
<div class="row flex">
    <div class="col-4 text-center">
        <img class="rounded-circle img-fluid" id="user-avatar-img" src="<%%= user.avatar.medium.url %>"/>

        <%% if ($('html').data().userId === user.id) { %>

            <%= form_tag update_avatar_user_url(current_user), id: 'avatar-form', :method => :post, multipart: true, remote: true do %>
                <%= file_field :user, :avatar , accept: 'image/png,image/jpeg,image/jpg', id: 'avatarFileInput', class:"text-light" %>
                <%= submit_tag "Save Avatar", class: 'btn btn-success' %>
            <% end %>

            <div class="mt-5" id="two-fa-data">
                <!-- two-fa-profile-template -->
            </div>
        <%% } %>
    </div>
    <div class="col-8">
        <div class="p-5">
            <%% if ($('html').data().userId === user.id) { %>
                <div class="row">
                    <div class="col text-right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">
                        Edit
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!-- Modal for edit user info -->
                <div class="modal" id="editUserModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Profile</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body text-center">
                                <form id="edit-user-form">
                                    <div class="form-group row">
                                        <label for="nickname" class="col-sm-5 col-form-label">Nickname</label>
                                        <div class="col-sm-7">
                                            <input class="form-control white" type="text" value="<%%= user.nickname %>" name="nickname" id="form-nickname" placeholder="Enter nickname" required>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="nickname" class="col-sm-5 col-form-label">Name</label>
                                        <div class="col-sm-7">
                                            <input class="form-control white" type="text" value="<%%= user.name %>" name="name" id="form-name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 text-center">
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <%% } %>
            <div class="row">
                <div class="col-6">
                    <p class="h4 text-info">Nickname</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h5 text-white" id="user-nickname"><%%= user.nickname %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="h4 text-info">Name</p>
                </div>
                <div class="col-4 text-center">
                    <p class="h5 text-white" id="user-name"><%%= user.name %></p>
                </div>
            </div>
        </div>
        <div class="row flex">
            <div class="card mx-auto bg-info profile-status" style="width: 7rem">
                <div class="card-body text-center">
                    <div class="tooltips">
                        <i class="fa fa-rss fa-2" aria-hidden="true"></i>
                        <span class="tooltiptext">status</span>
                    </div>
                    <div>
                        <p class="h5 text-white card-text" id="user_status_profile">
                        <%% if (user.status === 0) { %>
                            Offline
                        <%% } else { %>
                            Online 
                        <%% } %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card mx-auto bg-info profile-status" style="width: 7rem">
                <div class="card-body text-center">
                    <div class="tooltips">
                    <%% if (guild) { %>
                        <a class="text-dark" href="/#guilds/<%%= guild.guild_id %>">
                    <%% } else {%>
                        <a class="text-dark" href="/#guilds">
                    <%% } %>
                        <i class="fa fa-university fa-2" aria-hidden="true"></i>
                        <%% if (user.guild_id === null) { %>
                            <span class="tooltiptext">guild</span>
                        <%% } else { %>
                            <span class="tooltiptext"><%%= guild.guild_title %></span>
                        <%% } %>
                    </a>
                    </div>
                    <div>
                    <%% if (guild) { %>
                        <a href="/#guilds/<%%= guild.guild_id %>">
                    <%% } %>
                        <p class="h5 text-white card-text">
                        <%% if (user.guild_id === null) { %>
                            #
                        <%% } else { %>
                            <%%= guild.guild_anagram %>
                        <%% } %>
                        </p>
                    <%% if (guild) { %>
                        </a>
                    <%% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mx-auto align-bottom mt-5">
            <div class="card-body text-center">
                <p class="h5 card-title text-info">Last Matches</p>
                <hr/>
                <div class="mx-auto text-center">
                    <div id="user-matches-data" class="match_list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
            $('#user-avatar-img').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }
    $("#avatarFileInput").change(function() {
        readURL(this);
    });
</script>
</script>

<script type="text/template" id="blocked_users_template">

    <ul class="list-group list-group-flush">
        <%% if (_.size( blocked_users.data ) > 0) { %>
            <%% _.each( blocked_users.data, function(user) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center" >
                    <a href="/#users/<%%= user.id %>">
                        <span>
                            <img class="img-avatar rounded-circle img-fluid" src="<%%= user.avatar.thumb.url %>"/>
                        </span>
                        <%%= user.nickname %>
                    </a>
                    <span>
                        <button class="btn btn-danger unblock-btn" data-userblock-id="<%%= user.id %>" >&times</button>
                    </span>
                </li>
            <%% }) %>
        <%% } else { %>
            <li class="list-group-item text-center">
                <p class="h6 text-secondary">No one is blocked.</p>
            </li>
        <%% } %>
    </ul>
    
</script>

<script type="text/template" id="user_friends_template">

    <ul class="list-group list-group-flush">
        <%% if (_.size( user_friends.data ) > 0) { %>
            <%% _.each( user_friends.data, function(user) { %>
                <li class="list-group-item d-flex justify-content-between" >
                    <a href="/#users/<%%= user.friend.id %>">
                        <span>
                            <img class="img-avatar rounded-circle img-fluid" src="<%%= user.friend.avatar.thumb.url %>"/>
                        </span>
                    </a>
                    <p class="text-dark"><%%= user.friend.nickname %></p>
                </li>
            <%% }) %>
        <%% } else { %>
            <li class="list-group-item text-center">
                <p class="h6 text-secondary">No friends.</p>
            </li>
        <%% } %>
    </ul>
    
</script>

<script type="text/template" id="user_matches_template">

    <ul class="list-group list-group-flush">
        <%% if (_.size( matches.data ) > 0) { %>
            <%% _.each( matches.data, function(match) { %>
                <li class="list-group-item list-group-item-secondary"><%%= match.match_type %></li>
                <li class="list-group-item d-flex justify-content-between" >
                    <div class="col <%% if (match.winner == match.left_player_id) { %> bg-primary <%% } else { %> bg-light <%% } %>">
                        <div class="row">
                            <div class="col">
                                <img class="img-avatar rounded-circle img-fluid" src="<%%= match.left_player_avatar.thumb.url %>"/>
                                <a class="text-dark" href="/#users/<%%= match.left_player_id %>"><p><%%= match.left_player %></p></a>
                            </div>
                            <div class="col">
                                <p class="h3"><%%= match.left_player_score %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col <%% if (match.winner == match.right_player_id) { %> bg-primary <%% } else { %> bg-light <%% } %>">
                        <div class="row">
                            <div class="col">
                                <p class="h3"><%%= match.right_player_score %></p>
                            </div>
                            <div class="col">
                                <img class="img-avatar rounded-circle img-fluid" src="<%%= match.right_player_avatar.thumb.url %>"/>
                                <a class="text-dark" href="/#users/<%%= match.right_player_id %>"><p><%%= match.right_player %></p></a>
                            </div>
                        </div>
                    </div>
                </li>
            <%% }) %>
        <%% } else { %>
            <li class="list-group-item text-center">
                <p class="h6 text-secondary">No matches.</p>
            </li>
        <%% } %>
    </ul>

</script>
