<script type="text/template" name="userProfile">
    <div class="row">
        <div class="col-3 mt-3 text-center">
            <img class="rounded-circle img-fluid" id="user-avatar-img" src="<%%= user.avatar.medium.url %>"/>

        <%% if ($('html').data().userId === user.id) { %>

            <%= form_tag update_avatar_user_url(current_user), id: 'avatar-form', :method => :post, multipart: true, remote: true do %>
                <%= file_field :user, :avatar , accept: 'image/png,image/jpeg,image/jpg', id: 'avatarFileInput' %>
                <%= submit_tag "Save Avatar", class: 'btn btn-success' %>
            <% end %>

        <%% } %>
        </div>
        <div class="col-6 mt-4">
            <div class="p-5">
                <%% if ($('html').data().userId === user.id) { %>
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">
                            Edit
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                <%% } %>
                <div class="row">
                    <div class="col-6">
                        <p class="h4 text-info">Nickname</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="h5 text-white" id="user-nickname"><%%= user.nickname %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="h4 text-info">Name</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="h5 text-white" id="user-name"><%%= user.name %></p>
                    </div>
                </div>
            </div>
            <div class="row flex">
                <div class="card mx-auto bg-info profile-status" style="width: 7rem">
                    <div class="card-body text-center">
                        <div class="tooltips">
                            <i class="fa fa-rss fa-2" aria-hidden="true"></i>
                            <span class="tooltiptext">status</span>
                        </div>
                        <div>
                            <p class="h5 text-white card-text">
                            <%% if (user.status === 0) { %>
                                Offline
                            <%% } else { %>
                                Online 
                            <%% } %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mx-auto bg-info profile-status" style="width: 7rem">
                    <div class="card-body text-center">
                        <div class="tooltips">
                            <i class="fa fa-users fa-2" aria-hidden="true"></i>
                            <span class="tooltiptext">guild</span>
                        </div>
                        <div>
                            <p class="h5 text-white card-text">
                            <%% if (user.guild_id === null) { %>
                                #
                            <%% } else { %>
                                Guild Name 
                            <%% } %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mx-auto align-bottom mt-5">
                <div class="card-body text-center">
                    <p class="h5 card-title text-info">Last Matches</p>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-3 mt-4">
            <%% if ($('html').data().userId !== user.id) { %>
                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-success" id="addFriend" data-userfriend-id="<%%= user.id %>"> Add Friend </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" id="blockUser" data-userblock-id="<%%= user.id %>"> Block </button>
                    </div>
                </div>
            <%% } %>
            <div class="card text-center mx-auto mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="h5 card-title text-info">Stats</p>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Score</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-muted"> <%%= user.score %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-muted"> <%%= user.matches_won + user.matches_lost %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches won</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-success"> <%%= user.matches_won %> </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="h6 card-text text-muted">Matches lost</p>
                        </div>
                        <div class="col-4 text-center">
                            <p class="card-text text-danger"> <%%= user.matches_lost %> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center mx-auto mb-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="h5 card-title text-info">Friends</p>
                    <hr/>
                    <div class="mx-auto text-center">
                        <div id="user-friends-data" class="scroll_list">
                        </div>
                    </div>
                </div>
            </div>
            <%% if ($('html').data().userId === user.id) { %>
                <div class="card text-center mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <p class="h5 card-title text-info">Blocked users</p>
                        <hr/>
                        <div class="mx-auto text-center">
                            <div id="blocked-users-data" class="scroll_list">
                            </div>
                        </div>
                    </div>
                </div>
            <%% } %>
        </div>
        <%% if ($('html').data().userId === user.id) { %>
            <!-- Modal for edit user info -->
            <div class="modal" id="editUserModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Profile</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body text-center">
                            <form id="edit-user-form">
                                <div class="form-group row">
                                    <label for="nickname" class="col-sm-5 col-form-label">Nickname</label>
                                    <div class="col-sm-7">
                                        <input class="form-control white" type="text" value="<%%= user.nickname %>" name="nickname" id="form-nickname" placeholder="Enter nickname" required>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nickname" class="col-sm-5 col-form-label">Name</label>
                                    <div class="col-sm-7">
                                        <input class="form-control white" type="text" value="<%%= user.name %>" name="name" id="form-name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <%% } %>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#user-avatar-img').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#avatarFileInput").change(function() {
            readURL(this);
        });
    </script>
</script>

<script type="text/template" name="blocked_users_template">

    <ul class="list-group list-group-flush">
        <%% _.each( blocked_users.data, function(user) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center" >
                <a href="/#users/<%%= user.id %>">
                    <span>
                        <img class="img-avatar rounded-circle img-fluid" src="<%%= user.avatar.thumb.url %>"/>
                    </span>
                    <%%= user.nickname %>
                </a>
                <span>
                    <button class="btn btn-danger unblock-btn" data-userblock-id="<%%= user.id %>" >&times</button>
                </span>
            </li>
        <%% }) %>
    </ul>
    
</script>

<script type="text/template" name="user_friends_template">

    <ul class="list-group list-group-flush">
        <%% _.each( user_friends.data, function(user) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center" >
                <a href="/#users/<%%= user.id %>">
                    <span>
                        <img class="img-avatar rounded-circle img-fluid" src="<%%= user.avatar.thumb.url %>"/>
                    </span>
                    <%%= user.nickname %>
                </a>
                <%% if ($('html').data().userId == current_user) { %>
                    <span>
                        <button class="btn btn-danger unfriend-btn" data-userfriend-id="<%%= user.id %>" >&times</button>
                    </span>
                <%% } %>
            </li>
        <%% }) %>
    </ul>
    
</script>
