<script type="text/template" name="ranking" id="ranking-template">
    <div class="row">
        <div id="user-ranking-div" class="col-sm">
            <div>
                <h1 class="title">Top Players</h1>
            </div>
            <div id='user-ranking'></div>
        </div>
        <div id="guild-ranking-div" class="col-sm">
            <div>
                <h1 class="title">Top Guilds</h1>
            </div>
            <div id='guild-ranking'></div>
        </div>
        <%% if(tournament.status != 'no') { %>
        <div id="tournament-ranking-div" class="col-sm">
            <div>
                <h1 class="title"><%%= tournament.name %> tournament </h1>
            </div>
            <div id='tournament-ranking'></div>
        </div>
        <%% } %>
    </div>
    </div>
</script>

<script id="user-ranking-template" type='text/template'>
    <%% let i = 0; %>
    <%% for (user of users) {%>
        <%% i+= 1; %>
        <div class="bg-light d-flex flex-row">
            <%% if (i === 1){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end  p-2 bg-warning"><%%= user.nickname%>:</a>
            <%% } else if (i === 2){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end p-2 bg-secondary"><%%= user.nickname%>:</a>
            <%% }  else if (i === 3){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end p-2 bg-bronce"><%%= user.nickname%>:</a>
            <%% }  else { %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-primary align-self-start w-50 align-content-end p-2 "><%%= user.nickname%>:</a>
            <%% } %>
            <div class="font-weight-bold flex-fill align-self-end text-dark p-2"><%%= user.score %></div>
        </div>
    <%% };%> 
</script>

<script id="guild-ranking-template" type='text/template'>
    <div class="flex-col">
    <%% let i = 0; %>
    <%% for (guild of guilds) {%>
        <div class="bg-light p-2 flex-row mb-2">
            
             <a href="#guilds/<%%= guild.id %>" class="d-inline text-dark w-10"><%%= "[" + guild.anagram + "] " + guild.title%>:</a>

             <div class="d-inline text-primary align-self-end w-10"><%%= guild.score %></div>
           
        </div>
    <%% };%> 
    </div>
</script>

