<script type="text/template" name="ranking" id="ranking-template">
    <div class="row">
        <div id="user-ranking-div" class="col-sm">
            <div>
                <h1 class="title">Top Players</h1>
            </div>
            <div id='user-ranking'></div>
        </div>
        <div id="guild-ranking-div" class="col-sm">
            <div>
                <h1 class="title">Top Guilds</h1>
            </div>
            <div id='guild-ranking'></div>
        </div>

        <div id="tournament-ranking-div" class="col-sm">
            <div>
                <h5 class="title"> Tournaments </h1>
            </div>
            <div id='tournament-ranking'></div>
        </div>

    </div>
    </div>
</script>

<script id="user-ranking-template" type='text/template'>
    <%% let i = 0; %>
    <%% for (user of users) {%>
        <%% i+= 1; %>
        <div class="bg-light d-flex flex-row">
            <%% if (i === 1){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end  p-2 bg-warning"><%%= user.nickname%>:</a>
            <%% } else if (i === 2){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end p-2 bg-secondary"><%%= user.nickname%>:</a>
            <%% }  else if (i === 3){ %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-dark align-self-start w-50 align-content-end p-2 bg-bronce"><%%= user.nickname%>:</a>
            <%% }  else { %>
            <a href="#users/<%%= user.id %>" class="font-weight-bold flex-fill text-primary align-self-start w-50 align-content-end p-2 "><%%= user.nickname%>:</a>
            <%% } %>
            <div class="font-weight-bold flex-fill align-self-end text-dark p-2"><%%= user.score %></div>
        </div>
    <%% };%> 
</script>

<script id="guild-ranking-template" type='text/template'>
    <div class="flex-col">
    <%% let i = 0; %>
    <%% for (guild of guilds) {%>
        <div class="bg-light p-2 flex-row mb-2">
            
             <a href="#guilds/<%%= guild.id %>" class="d-inline text-dark w-10"><%%= "[" + guild.anagram + "] " + guild.title%>:</a>

             <div class="d-inline text-primary align-self-end w-10"><%%= guild.score %></div>
           
        </div>
    <%% };%> 
    </div>
</script>

<script id="tournament-list-template" type='text/template'>
    <%% for (let tournament of tournaments) {%>
        <%% if (tournament.status == "open"){ %>
            <div class="tournament-div bg-light p-1 mb-1">
                <div class="tournament-title-div text text-lg-center bg-light mb-1"><%%= tournament.name %></div>
                <p class="m-2 text-sm text-center">Tournament open!</p>
                <a href="#play" class=" btn btn-sm btn-info btn-block badge-pill">Join now</a>
            </div>
        <%% } %>
        <%% if (tournament.status == "active"){ %>
            <div class="tournament-div bg-light p-1 mb-1">
                <div class="tournament-title-div text text-lg-center bg-light mb-1"><%%= tournament.name %></div>
                <a href="#play" class="fire-animation btn btn-sm btn-danger btn-block badge-pill">Play now</a>
            </div>
        <%% } %>
    <%% }%>
    <%% for (let tournament of tournaments) {%>
        <%% if (tournament.status == "finished"){ %>
            <div class="tournament-div bg-dark p-1 mb-1">
                <div href="#tournament/<%%= tournament.id %>" class="text-center bg-secondary"><%%= tournament.name %></div>
                <p class="text-light text-sm-center">Status: finished</p>
            </div>
        <%% } %>
    <%% }%>
</script>
