
<!-- User is login -->

<div class='logout'>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, data: {confirm: 'Are you sure?'} %>
</div>

<% @users.each do |user| %>
    <tr class='logged-users'>
      <td><p>Hello, <%= user.nickname.capitalize() %>!</p></td>
    </tr>
<% end %>

<% if user_signed_in? %>
    <div><%= render  "game" %></div>
    <%= render "chat" %>
<% end %>



