
<!-- User is login -->
<% if user_signed_in? %>
  <%= render "nav" %>
  <div id="content" class="container">
  </div>
  <%= render "profile" %>
  <%= render "game" %>
  <%= render "chat" %>

<% end %>

