<script type="text/template" id="user_login_template">

  <p class="h2 text-primary text-center">Log in</p>

  <div class="container p-4">
    <form id="login-form" class="needs-validation" novalidate>

      <div class="form-group row">
          <label for="nickname" class="col-sm-3 col-form-label text-white">Nickname</label>
            <div class="col-sm-7">
              <input class="form-control white col-7 col-md-4 col-lg-5 ml-3" type="text" name="nickname" id="nickname" placeholder="Enter nickname" required>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label text-white">Password</label>
          <div class="col-sm-7">
            <input class="form-control white col-7 col-md-4 col-lg-5 ml-3" type="password" name="password" id="password" placeholder="Enter password" required>
            <div class="invalid-feedback">Invalid password</div>
          </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-7 text-center">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>

    </form>
    <div class="col-sm-7 text-center">
      <%= link_to "Sign in with 42", user_marvin_omniauth_authorize_path, method: "post", class: "btn btn-info" %>
    </div>

  </div>

</script>
