@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }

.create-channel-input {
    padding: 0.5rem;
    border-radius: 0.7rem;
    width: 45%;
}

.channel_message{
    border-radius: 1em;
    margin: 0.4em;
}

#create-channel-input-wrapper {
    padding: 1em;
}

#available-channel-buttons {
    padding: 1em;
    text-align: center;
    display:grid;
}

#channel-toolbar
{
    display: block;
    text-align: right;
    padding: 0.3em;
}

#password-input
{
    display:none;
}

#channel_name, #password-input{
    padding: 0.3em;
    border-radius: 2mm;
    position: relative;
    width: 100%;
    border: 3px #EEE;
}
.form-element
{
    margin: 0.5em;
    padding: 5px;
}
#center-button-wrapper
{
    display: grid;
    position:relative;
    width: 100%;
    text-align :center;
}
#create-channel-button{
    align-self: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

    z-index:2;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;

    z-index:2;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .popup-content {
    max-height: 30%;
    overflow: auto;
    text-align:center;
    margin-top: 1em;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
      z-index:2;
    }
    .popup{
      width: 70%;
    }
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    z-index:2;
  }
  
  #popup-user-avatar img
  {
    height: 3em;
    max-width: 5em;
    text-align:left;
    vertical-align: center;
    border-radius: 50%;
  }
.popup-user-title
  {
    text-align:right;
  }