@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }

.create-channel-input {
    padding: 0.5rem;
    border-radius: 0.7rem;
    width: 45%;
}

.channel_message{
    border-radius: 1em;
    margin: 0.4em;
}

#create-channel-input-wrapper {
    padding: 1em;
}

#available-channel-buttons {
    padding: 1em;
    text-align: center;
}

#channel-toolbar
{
    display: block;
    text-align: right;
    padding: 0.3em;
}

#password-input
{
    display:none;
}

#channel_name, #password-input{
    padding: 0.3em;
    border-radius: 2mm;
    position: relative;
    width: 100%;
    border: 3px #EEE;
}
.form-element
{
    margin: 0.5em;
    padding: 5px;
}
#center-button-wrapper
{
    display: grid;
    position:relative;
    width: 100%;
    text-align :center;
}
#create-channel-button{
    align-self: center;
}