// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#chatbar td {
    font-family: Raleway;
    font-weight: normal;
}

#chatbar th {
    font-family: Raleway;
    font-weight: bolder;
}

.list-group-item,
.list-group-item-dark {
    margin: 2px;
}

.list-group-item-dark {
    text-align: end;
}

#chat-user-list {
    color: #DDD;
    padding: 4px;
    font-family: Raleway;
    //max-width: 100;
    max-height: 400px;
    display: grid;
}

#chat-user-list::-webkit-scrollbar {
    display: none;
}

.chat-user-list-button {
    margin-block-end: 2px;
    width: 100%;
}