#graph {
    position: relative;
    width: 100%;
    background-color: rgb(79, 78, 90);
    height: 30em;
}

.space-between-matches{
    min-height: 5rem;
    opacity: 0;
    width: 90%;
    margin: 1em;
}

.match-j1{
    height: 3em;
    border-radius: 1em 1em 0 0 !important;
}
.match-j2{
    height: 3em;
    border-radius: 0 0 1em 1em !important;
}

.round-column{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.waiting-for-users-tour{
    text-align:center;
    position:relative;
    width:100%;
    padding: 1em;
    color:white;
    border: 0.4em;
    border-color:white;
}
.tournament-empty-banner{
    padding: 1em;
    text-align: center;
    align-self: stretch;
    background-color: #BBB;
    margin-top: 1em;
    border-radius: 0.4em;
    box-shadow:         inset 0 0 10px #000000;
    
}
.tournament-match{
    min-height: 5rem;
    width: 90%;
    margin: 1em;
    
}

.match-j1, .match-j2{
    text-align: center;
    font-family: "Righteous";
    text-transform: uppercase;
}

// ----- vars -----
$black: #FFF;
$white: #000;

// ----- general -----
body {
	display: flex;
	height: 100vh;
	box-sizing: border-box;
	background: $black;
}

.field {
	margin: auto auto;
	width: 200px;
	height: 130px;
	position: relative;
	
	border-width: 3px;
	border-style: solid;
	border-color: $white;
	
	.el-net {
		width: 0;
		height: 95%;
		
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		
		border-width: 3px;
		border-style: dotted;
		border-color: $white;
	}
	
	.el-ping, .el-pong {
		width: 4px;
		height: 16px;
		
		position: absolute;
		
		background: $white;
	}
	
	.el-ping {
		left: 6%;
		animation: el-ping 6s infinite linear;
	}
	
	.el-pong {
		right: 6%;
		animation: el-pong 6s infinite linear;
	}
	
	.el-ball {
		width: 5px;
		height: 5px;
		
		position: absolute;
		background: $white;
		
		animation: el-ball 6s infinite linear;
	}
}

// ----- keyframes ------

@keyframes el-ball {
	0% { // start in the middle
		top: 34%;
		left: 52%;
	}
	8.3% { // el-pong
		top: 52%;
		left: 90%;
	}
	24.9% { // el-ping
		top: 85%;
		left: 8%;
	}
	30% {
		top: 98%;
		left: 27%;
	}
	41.5% { // el-pong
		top: 70%;
		left: 90%;
	}
	58.1% { // el-ping
		top: 55%;
		left: 8%;
	}
	74.7% { //el-pong
		top: 13%;
		left: 90%;
	}
	79% {
		top: 1%;
		left: 70%;
	}
	91.3% { // el-ping
		top: 22%;
		left: 8%;
	}
	100% { // back to center
		top: 34%;
		left: 52%;
	}
}

@keyframes el-ping { // left player
	0% {
		top: 10%;
	}
	5% {
		top: 10%;
	}
	9% {
		top: 24%;
	}
	13% {
		top: 17%;
	}
	24.9% { // tap
		top: 82%;
	}
	47% {
		top: 37%;
	}
	52% {
		top: 41%;
	}
	56% {
		top: 64%;
	}
	58.1% { // tap
		top: 54%;
	}
	70% {
		top: 74%;
	}
	84% {
		top: 12%;
	}
	91.3% { // tap
		top: 18%;
	}
	100% {
		top: 10%;
	}
}

@keyframes el-pong { // right player
	0% {
		top: 90%;
	}
	8.3% { // tap
		top: 51%;
	}
	20% {
		top: 60%;
	}
	25% {
		top: 34%;
	}
	41.5% { // tap
		top: 68%;
	}
	46% {
		top: 36%;
	}
	52% {
		top: 18%;
	}
	58.1% {
		top: 53%;
	}
	66% {
		top: 14%;
	}
	70% {
		top: 20%;
	}
	74.7% {
		top: 10%;
	}
	91.3% { // tap
		top: 10%;
	}
	100% {
		top: 90%;
	}
}