#tournament-view p {
    padding: 1em;
    text-align: center;
    align-self: stretch;
    background-color: #BBB;
    margin-top: 1em;
    border-radius: 0.4em;
    box-shadow:         inset 0 0 10px #000000;

}