.waitingframe
{
    margin-top: 10em;
    min-width: 10em;
    max-width: 20em;

    background-color: #EEE;
    border-radius: 1em;
    border-top: 1em grey;
    align-self: center;
    height: 5em;
    align-items: center;
    vertical-align: center;
}