<script type="text/template" id="error-404-template">

    <div class="dialog">
        <div>
            <a class="btn btn-primary" href="/#play">Back 🔙</a>
            <h1>The page you were looking for doesn't exist.</h1>
            <p class="text-light">You may have mistyped the address or the page may have moved.</p>
        </div>
        <p class="text-light">If you are the application owner check the logs for more information.</p>
    </div>

</script>
