<script type="text/template" id="wait_template">

    <div class="waitingframe d-flex flex-column">
        <div class="waitingtitle flex-col"> Waiting for <%%= user.nickname %>...</div>
        <a class="flex-col btn btn-block btn-danger btn-pill">Cancel</a>
    </div>
</script>